<div class="navbar-container">
  <img src="../styles/img/navBarView/appleLogo_large.svg" />
  <img src="../styles/img/navBarView/Mac_large.svg" />
  <img src="../styles/img/navBarView/iPad_large.svg" />
  <img src="../styles/img/navBarView/iPhone_large.svg" />
  <img src="../styles/img/navBarView/Watch_large.svg" />
  <img src="../styles/img/navBarView/TV_large.svg" />
  <img src="../styles/img/navBarView/Music_large.svg" />
  <img src="../styles/img/navBarView/Support_large.svg" />
  <img src="../styles/img/navBarView/searchicon_large.svg" />
  <img src="../styles/img/navBarView/bagIcon_large.svg" />
</div>
